.rule-header, .rule-overview{
    text-align: center;
}

body{
    box-sizing: border-box;
    background: linear-gradient(-90deg, rgb(53, 35, 145), rgb(134, 46, 46));
    font-family: 'Chilanka', cursive;
    line-height: 20px;
    font-size: 20px;
}

ul{
    margin: auto;
    width: 50%;
}

h1{
    line-height: 30px;
}

main{
    max-width: 100%;
    width: 600px;
    margin: auto;
}


.button{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button{
    background-color: blueviolet;
    color: #ccc;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 70px;
    box-shadow: 2px 5px 3px #ccc;
    cursor: pointer;
}

button:hover{
    height: 35px;
    width: 75px;
}

.game{
    /* max-height: 230px; */
    border: 1px solid #000;
    margin: 15px auto;
    padding-left: 40px;
    color: #ffffff;
    width: 50%;
}

.restart{
    color: #ccc;
    cursor: pointer;
    font-weight: bolder;
    display: none;
}

.restart:hover{
    width: 70px;
    height: 40px;
}

div:last-child{
    display: flex;
    justify-content: center;
}